<a href="/groups"><button type="button">Dashboard</button></a>
<h1><%=@group.name%></h1>
<p><%=@group.description%></p>
<% if @group.active_members.where("user_id = #{@user.id}").first %>
	<form action="/members/<%= @group.id %>" method="post"> 
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
		<input type='hidden' name='_method' value='delete'>
		<input type="submit" value="Leave Group">
	</form>
<% else %>
	<form action="/members/<%= @group.id %>" method="post"> 
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
		<!-- <input type='hidden' name='_method' value='delete'> -->
		<input type="submit" value="Join Group">
	</form>
<% end %>

<h3>Created by: 
<% if @group.user == @user %>
	YOU
<% else %>
	<%= @group.user.first_name %> <%= @group.user.last_name %> 
<% end %>	
</h3>
<h4>Members:</h4>
<% @group.active_members.each do |m| %>
	<p>* <%= m.first_name %> <%= m.last_name %></p>
<% end %>


